.botao-customizado__root {
  padding: 16px;
  border: none;
  cursor: pointer;
}

.botao-customizado__primario {
  background-color: var(--cor-primaria);
  color: var(--cor-texto-claro);
}

.botao-customizado__secundario {
  background-color: var(--cor-secundaria);
  color: var(--cor-texto-claro);
}